* {
	font-family: 'Oxygen', sans-serif;
	font-size: 24px;
}

#rightMostTab {
	position: absolute;
	z-index: 1000;
	border-left:10px solid #E8E8E9;
	top: 0;
	right: 0;
	bottom: 0;
	width: 48px;
	padding: 10px;
	background: white;
}

.menuImg {
	cursor: pointer;
}

#rightTab {
	position: absolute;
	z-index: 1000;
	border-left: 10px solid #E8E8E9;
	top: 10;
	right: 69;
	bottom: 0;
	width: 40%;
	padding: 10px;
	overflow-x: hidden;
}

#lastPostsCanvas {
	/*position: absolute;*/
}

#leftTab {
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
}

#canvas {
	background: #E8E8E9;
	position: absolute;
	top: 0;
	left: 0;
}

#ghostComment {
	position: absolute;
	z-index: 999;
	opacity: 0;
}

#postCanvas {
	/*border: 1px solid;*/
}

#comments {
	overflow: auto;
}

#secondaryCanvas {
	display: none;
}

#hidden_image, #uploaded_image {
	opacity: 0;
	position: absolute;
}

video {
	position: absolute;
}

#imageSearch_div {
	text-align: center;
}

#webcam_div, #upload_img_div {
	display: inline;
}

#webcam_div {
	float: left;
}

#upload_img_div {
	float: right;
}

button {
	color: white;
	background-color: #4CAF50;
	border: none;
	text-align: center;
	text-decoration: none;
	padding: 15px 25px;
	font-size: 24px;
	margin: 10px;
	cursor: pointer;
}

button[disabled] {
	background: #eee;
	border: 1px solid #ccc;
	color: #999;
	cursor: default;
}

input[type="file"] {
	margin: 10px;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 5px;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	cursor: pointer;
	width: 30px;
}

#about{
	word-wrap: break-word;
}
